<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyse Summary</title>
</head>
<body>
<table>
  <tr>
    <td>Размер данных</td>
    <td>{{ data_size }} байт</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Линия 0</td>
    <td>Линия 1</td>
    <td>Линия 2</td>
    <td>Линия 3</td>
  </tr>
  <tr>
    <td>K-символы</td>
    <td>{{ k_symbol_line_0 }}</td>
    <td>{{ k_symbol_line_1 }}</td>
    <td>{{ k_symbol_line_2 }}</td>
    <td>{{ k_symbol_line_3 }}</td>
  </tr>
  <tr>
    <td>D-символы</td>
    <td>{{ d_symbol_line_0 }}</td>
    <td>{{ d_symbol_line_1 }}</td>
    <td>{{ d_symbol_line_2 }}</td>
    <td>{{ d_symbol_line_3 }}</td>
  </tr>
  <tr>
    <td>Корректность</td>
    <td>{{ line_0_valid }}</td>
    <td>{{ line_1_valid }}</td>
    <td>{{ line_2_valid }}</td>
    <td>{{ line_3_valid }}</td>
  </tr>
</table>
</body>
</html>